* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.body-gwen {
    background-image: url(../img/ver_gwen.jpg);
    color: white;
}

.body-gwen #calc {
    width: 400px;
    padding: 0.5em;
    background-color: #cccbdd;
    color: #f2097d;
    display: flex;
}

.body-gwen #calc h3 {
    font-family: spider;
    font-size: 1.2em;
    font-weight: 300;
    color: #f2097d;
}

.body-gwen #previous-operation {
    color: #061c47;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
}

.body-gwen #buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #00b6ed;
    color: black;
    cursor: pointer;
}

.body-gwen #buttons-container .number {
    background-color: #d0316e;
    color: #cecdee;
}

#buttons-container button:hover {
    background-color: #75a5cb;
    border-color: #999;
}

.body-gwen #buttons-container .number:hover {
    background-color: #f2097d;
}

.body-gwen #buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #027174;
}

.body-gwen #buttons-container #equal-btn:hover {
    grid-column: span 2;
    background-color: #061c47;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}